html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: #fff;
}

.btn-ghost {
  position: relative;
  top: 0;

  color: #b4fff4;

  border-color: #b4fff4;
  border-radius: 10px;
}

.btn-ghost:hover {
  color: #b4fff4;
  border-color: #b4fff4;
  background-color: rgba(180, 255, 244, .2);
}

.btn-svg {
  right: .2em;
}
