html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, .7);
}

a {
  text-decoration: none;
  color: #b4fff4;
  transition: all .2s linear;
}

.btn-ghost {
  position: relative;
  top: 0;

  color: #b4fff4;

  border-color: #90ccc3;
  border-radius: 10px 10px 0 0;
  transition: all .2s linear;
}

.btn-ghost:active {
  top: 3em;
}

.btn-ghost:hover {
  color: #b4fff4;
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
}

.icon {
  position: relative;
  bottom: 0;
  transition: all .2s linear;
}

.btn:hover .icon {
  bottom: 4px;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
  color: #b4fff4;
  border-color: #90ccc3;
  background-color: rgba(180, 255, 244, .2);
}

.btn-bottom {
  position: absolute;
  border: 3px solid #90ccc3;
  border-radius: 0 0 10px 10px;
  bottom: -.7em;
  left: -3px;
  width: calc(100% + 6px);
  border-top: 0;
  transition: all .2s linear;
  min-height: .7em;
}
